<table >
  <tr>
    <th>Subjects</th>
    <th>External Marks</th>
    <th>Internal Marks</th>
    <th>Total Marks</th>
  </tr>
  <tr>
    <td>18cs51</td>
    {{#each data.management}}
    <td id="mng1">{{this.external}}</td>
    <td id="mng2">{{this.internal}}</td>
    <td id="mng3"></td>
    {{/each}}
  </tr>
  <tr>
    <td>18cs52</td>
     {{#each data.cns}}
    <td id="cn1">{{this.external}}</td>
    <td id="cn2">{{this.internal}}</td>
    <td id="cn3"></td>
    {{/each}}
  </tr>
   <tr>
    <td>18cs53</td>
     {{#each data.dbms}}
    <td id="db1">{{this.external}}</td>
    <td id="db2">{{this.internal}}</td>
    <td id="db3"></td>
    {{/each}}
  </tr>
   <tr>
    <td>18cs54</td>
     {{#each data.atc}}
    <td id="at1">{{this.external}}</td>
    <td id="at2">{{this.internal}}</td>
    <td id="at3"></td>
    {{/each}}
  </tr>
   <tr>
    <td>18cs55</td>
     {{#each data.python}}
    <td id="py1">{{this.external}}</td>
    <td id="py2">{{this.internal}}</td>
    <td id="py3"></td>
    {{/each}}
  </tr>
   <tr>
    <td>18cs56</td>
     {{#each data.unix}}
    <td id="uni1">{{this.external}}</td>
    <td id="uni2">{{this.internal}}</td>
    <td id="uni3"></td>
    {{/each}}
  </tr>
   <tr>
    <td>18csl57</td>
     {{#each data.cnslab}}
    <td id="cnl1">{{this.external}}</td>
    <td id="cnl2">{{this.internal}}</td>
    <td id="cnl3"></td>
    {{/each}}
  </tr>
   <tr>
    <td>18csl58</td>
     {{#each data.dbmslab}}
    <td id="dbl1">{{this.external}}</td>
    <td id="dbl2">{{this.internal}}</td>
    <td id="dbl3"></td>
    {{/each}}
  </tr>
   <tr>
    <td>18civ59</td>
     {{#each data.evs}}
    <td id="ev1">{{this.external}}</td>
    <td id="ev2">{{this.internal}}</td>
    <td id="ev3"></td>
    {{/each}}
  </tr>
 
</table>
